<html>
	<head></head>
	
	<body>
		velocity.vm
		
		rangers : $rangers
		<table>
			<thread>
				<tr>
					<th>이름<th>
				</tr>
			</thread>
			
			<tbody>
				#foreach($ranger in $rangers)
					<tr>
						<td>$ranger</td>
					</tr>
				#end
			</tbody>
			
		</table>
	</bdoy>
</html>